{% extends '::base.html.twig' %}

{% block title %}
    Task list
{% endblock %}

{% block body %}
    <ul>
        {% for task in tasks %}
            <li>
                {{ task.name }} ~ {{ task.dueDate|date('Y/m/d') }}
                {% if not task.completed %}
                    <a href="{{ path('task_complete', {id: task.id}) }}">complete</a>
                {% endif %}
                <a href="{{ path('task_remove', {id: task.id}) }}">remove</a>
            </li>
        {% endfor %}
    </ul>
    <br/>
    <a href="{{ path('task_create') }}">Create new task!</a>
{% endblock %}
